body{
    background-image: url('../img/ironman.jpg');
}
.container{
    min-height: 820px;
    margin: 0 auto;
    .haha{
        justify-content: right;
    }
    .heading--1{
        margin-top: 50px;
        text-align: center;
        text-transform: uppercase;
        color: white;
        text-shadow: 1px 4px 3px black;
    }
    .search_info{
        display: flex;
        margin-top: 50px;
        input{
            margin-right: 10px;
        }
       
    }
    .nameuser{
        color: white;
        padding-top: 20px;
    }
    .message--1{
        background-color: white;
        color: black;
    }
    .table_info_money{
        // height: 400px;
        margin-top: 30px;
        .heading-infor{
            font-weight: bold;
            margin-top: 20px;
            color: red;
            text-transform: uppercase;
        }
        background-color: white;
        .name-user{
            display: flex;
            flex-direction: column;
        }    
        .nhacc, .if_user{
            display: flex;
        }   
        .user_info, .name_usser{
            display: flex;
            flex-direction: column;
        }
        .infor_user-1{
            margin: 2px;
            font-size: 13px;
        }
        .tien_dien{
            th{
                text-transform: uppercase;
                font-size: 14px;
                text-align: center;
                padding: 2px;
                border: 1px solid navy;
            }
            tr:first-child td{
                text-align: center;
            }
            td{
                border: 1px solid navy;
                font-size: 13px;
                padding: 4px;
                p{
                    text-align: right;
                }
            }


        }
    }
    
    .timkiemten{
        color: yellow;;
        margin-top: 20px;
    }
}
.red{
    margin-top: 50px;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 1px 4px 3px white;
    color: red;
}
.invalid{
    
   border: 1px solid red;
}